@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-size: 10px;
  }
  body {
    width: 100vw;
    height:100vh,
    overflow-x: hidden;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
* {
  box-sizing: border-box;
}
@layer components {
  .a11y-hidden {
    position: absolute;
    color: red;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
  }
  .clear-fix::after {
    content: '';
    display: block;
    clear: both;
  }
  .none-white-space {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .multiline-ellipsis {
    display: inline-block;
    width: 60rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.container {
  width: 1050px;
  min-width: 1050px;
  margin: auto auto;
}
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
